#sidebtn a {
  position: absolute;
  left: -50px;
  transition: ease 0.2s;
  width: 200px;
  text-decoration: none;
  font-size: 16px;
}

#sidebtn a:hover {
  left: 0;
}

.square {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: flex;
}
