#sidebtn a {
  position: absolute;
  left: -50px;
  transition: ease 0.2s;
  width: 200px;
  text-decoration: none;
  font-size: 16px;
}

#sidebtn a:hover {
  left: 0;
}

.square {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: flex;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e9e9e9;
  color: white;
  font-size: 1.5rem;
}
.circle-small {
  width: 350px;
  height: 350px;
}
.circle-large {
  width: 450px;
  height: 450px;
}

* {
  box-sizing: border-box;
}

.row {
  margin: 10px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 33.33%;
  display: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.show {
  display: block;
}
